body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

.popup_back {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
}

.popup_cont {
    position: fixed;
    z-index: 102;
    margin: auto;
}

.preloader {
    z-index: 101;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

input {

    padding: 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
input:first-child {
 
}

img {

}

ul li {

    border: 2px solid rgba(149, 165, 166,0.2);
    background-color: white;
    display: inline-block;
    max-width: 530px;  
    vertical-align: top;
    height: 400px;
    width: 250px;
    margin: 5px;  
    padding: 15px;
    }

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../png/unmarked.png) center no-repeat;
    background-size: cover; 
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../png/marked.png) center no-repeat;
    background-size: cover; 
}

